@font-face {
  font-family: "Ubuntu";
  src: url("./vendor/fonts/ubuntu/Ubuntu-Regular.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 2vw;
  /* gap: 0.5em; */
  background: #222;
  color: white;
}

twisty-player {
  width: 50vw;
  height: 40vh;
  margin: auto;
  opacity: 0;
  transition: opacity 1s ease;
}

.cubing-icon {
  margin: auto;
  font-size: calc(min(10vw, 6vh));
  height: 1em;
  color: inherit;
}

a.cubing-icon {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

a.cubing-icon:hover,
a.cubing-icon:focus {
  text-decoration: underline;
  transform: rotate(10deg);
  opacity: 0.5;
}

#text {
  text-align: center;
  min-height: 2.5em;
  max-width: 75vw;
  font-size: calc(min(10vw, 4vh));

  display: grid;
  place-content: center;
}

#text.minx {
  font-family: monospace;
  text-align: start;
  max-width: 95vw;
  font-size: calc(min(10vw, 3.5vh));
}

#generating {
  animation: pulse 1s infinite;
}

#show-events {
  padding: 0.25em;
  margin: 1em;
  border: 1px solid #aaa;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#show-events .cubing-icon {
  padding: 0.25em;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

[hidden] {
  display: none !important;
}

#show-events:target {
  display: grid !important;
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background: #eee;
    color: #444;
  }
}
